.tmln{
    margin-bottom: 10px;
}
.feed{
    display: flex;
    background-color: white;
    border: 1px solid #e0dfdc;
    border-radius: 10px;
    flex-direction: column;
}
.feed__prfSection{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}
.prfSection__prof{
    width: 50%;
    display: flex;
    align-items: center;
}
.prfImg img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}
.prfName{
    font-weight: 500;
    font-size: 14px;
    color: #191919;
    display: flex;
    flex-direction: column;
}
.flws{
    font-size: 12px;
    font-weight: normal;
    color: #696969;
}
.tme{
    font-size: 12px;
    font-weight: normal;
    color: #696969;
    display: flex;
    align-items: center;
}
.dot{
    font-size: 5px!important;
}
.globe{
    font-size: 11px!important;
}
.follow__btn{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #0a66c2;
}
.feed__content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    background-color: #f9fafb;
}
.describtion{
    padding: 0px 10px;
    font-size: 14px;
    color: #696969;
}
.postImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.like__section{
    padding: 12px 10px;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #696969;
}
.like__sectionIconContainer{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a66c2;
    border-radius: 100px;

}
.like__sectionIcon{
    font-size: 10px!important;
    color: #eff1f3!important;
}
.activity__cnt{
    display: flex;
    padding: 12px 10px;
}
.activity__line{
    padding: 0 10px;
}
.cnt__part{
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
}
.cnt__partIcon{
    font-size: 20px!important;
    margin-right: 2px;
}
@media only screen and (max-width: 469px){
    .feed{
        display: flex;
        background-color: white;
        border: 0 solid #e0dfdc;
        border-radius: 0;
        flex-direction: column;
    }
}
@media only screen and (max-width: 403px){
    .cnt__part div{
        display: none;
    }
    .header{
        width: 100%;
    }
    .header__container{
        /* width: 100%; */
    }
    .header__logoSection__searchbox{
        width: 70%;
        /* margin-right: 2px; */
    }
}